	<!-- content -->
	<import type="css" file="css.validform" />
	<script type="text/javascript">
		$(function(){
			$(".login_form").Validform({
				btnSubmit:"#sub", 
				tiptype:3,
				showAllError: true
			});
		})
	</script>
	<div align="center">
    	<form class="login_form" method="post" action="__CONTROLLER__/chklogin">
		<table bgcolor="#cccccc" border="0" cellpadding="6" cellspacing="0">
        	<tr>
        	<th colspan="2" bgcolor="#ff6600"><p>Please Log In</p></th>
        	</tr>
        	<tr>
        	<td>Username:</td>
        	<td><input type="text" name="username" datatype="s5-12" errormsg="用户名是5~12位字符！" nullmsg="请输入用户名" /></td><span class="Validform_checktip"></span></tr>
        	<tr>
        	<td>Password:</td>
        	<td><input type="password" name="passwd" datatype="*6-16" errormsg="密码是6~16位任意字符" nullmsg="密码不能为空"/></td></tr>
        	<tr>
			<td colspan="2" align="center">
				<a id="sub"><input type="image" src="__IMG__/log-in.gif" border="0" width="149" height="43" alt="Login In"></a>
			</td></tr>
			<tr>
		</table>
		</form>
	</div>


