<html>
  <head>
  <title>{$title}</title>
    <style>
      h1 { font-family: 'Comic Sans MS',  sans-serif; font-size: 32;
           font-weight: bold; color:  black; margin-bottom: 0}
      b { font-family: 'Arial', sans-serif; font-size: 13;
          font-weight: bold; color: black }
      th { font-family: 'Comic Sans MS',  sans-serif; font-size: 18
           font-weight: bold; color:  black; }
      body, li, td { font-family: Arial, Helvetica, sans-serif;
                     font-size: 12; margin = 5px }
      a { color: #000000 }
    </style>
	<import type='js' file="Js.jquery_11" />
	<import type='js' file="Js.Validform_v5" />
  </head>
  <body>
	<!-- title -->
	<table width="100%" cellspacing="0" cellpadding="3" bgcolor="#ff6600" border="0">
		<tr bgcolor="#ff6600">
		<td bgcolor="#ff6600" width="103"><img src="__IMG__/warm-mail.gif" width="103" height="45" alt="" valign="middle" /></td>
		<td bgcolor="#ff6600" width="90%"><h1>{$title}</h1></td>
		</tr>
	</table>
	<!-- toolbar -->
	<table width="100%" cellpadding="0" cellspacing="0" border="0">
			<tr>
        <td bgcolor="#ccccc" align="">
			<a href="__ROOT__/Home/Index/index"><img src="__IMG__/view-mailbox.gif" border="0" width="149" height="43" alt="" /></a>
			<a href="$url"><img src="__IMG__/new-message.gif" border="0" width="149" height="43" alt="" /></a>
			<a href="__ROOT__/Home/Account/list"><img src="__IMG__/account-setup.gif" border="0" width="149" height="43" alt="" /></a>
			<if condition="$is_login eq 1">
			<img src="__IMG__/spacer.gif" border="0" width="549" height="43" alt="" />
			<a href="__ROOT__/Home/Login/logout"><img src="__IMG__/log-out.gif" border="0" width="149" height="43" alt="" /></a>
			</if>
		</td>
        </tr>
    </table>

    {__CONTENT__}

	<!-- footer -->
	<table width="100%" cellpadding="6" cellspacing="0" border="0">
		<tr>
		<td bgcolor="#ff6600" align="right"><img src="__IMG__/warm-mail.gif" width="103" height="45" alt="" valign="middle" /></td>
    	</tr>
	</table>
</body>
</html>
